* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}

/* loader */
body .loader {
    position: fixed;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
}

body .loader img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    animation-name: loader;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes loader {
    0% {
        opacity: 0;
        filter: blur(2px);
    }

    25% {
        filter: blur(1px);
    }

    50% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1.3);
        filter: blur(0);
    }

    100% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        filter: blur(0);
    }
}


/* loader end */

/* back to top */
.back-to-top {
    background-color: var(--headerBg);
    text-decoration: none;
    cursor: pointer;
    width: 46px;
    height: 46px;
    z-index: 999;
    position: fixed;
    right: 32px;
    bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 20%;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.4);
}

.back-to-top:active {
    box-shadow: none;
}


.back-to-top svg {
    z-index: 4;

}

/* back to top */

/* first news */
.first-blog {
    width: 100%;
}

.first-blog-title {
    color: var(--titleColor);
    font-size: 32px;
    font-weight: 700;
    margin: 80px 0 84px 0;
    text-decoration: underline;

}

.first-carousel-img {
    width: 100%;
    height: 564px;
    object-fit: cover;
}

.first-carousel-caption {
    background-color: var(--titleColor);
    width: 100%;
    position: static;
    height: auto;
    padding: 18px;

}

.first-carousel-caption .caption-title {
    display: block;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: var(--menuColor);
    text-decoration: none;
    text-align: left;
    display: inline-block;
    border-bottom: 2px solid rgba(7, 37, 73, 1);
    /* padding: 0 18px; */
}

.carousel-control-next-icon {
    background-image: url('/src/img/carousel-next-icon.svg');
}

.carousel-control-prev-icon {
    background-image: url('/src/img/carousel-prev-icon.svg');
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 1;
}

/* right news */
.right-news {
    width: 100%;
    margin-bottom: 19px;
}

.right-img-blog {
    width: 100%;
    height: 160px;
}

.right-news-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right-news-content {
    display: block;
    color: var(--menuColor);
    background-color: var(--titleColor);
    width: 100%;
    height: 50px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    padding: 25px;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.right-news-content:hover {
    color: var(--menuColor);
}

/* water */
.nmr-about-row {
    margin: 38px 0;
    padding: 5px 0;

}

.water-about-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 36.8px;
    text-align: left;
    color: var(--titleColor);
    border-bottom: 2px solid rgba(7, 37, 73, 1);
    display: inline-block;
    margin: 38px 0;

}

.nmr-water-about-blog {
    background-color: var(--aboutBg);
    height: 116px;
    padding: 28px 0 0 0;
    transition: all .4s ease-in-out;
}

.nmr_water {
    transition: all .5s ease-in-out;
}

.nmr-water:hover .nmr-water-about-blog {
    background-color: rgba(82, 114, 153, .5);
}

.nmr-water-top {
    width: 60px;
    height: 60px;
    object-fit: cover;
    margin: 0 auto;
}

.nmr-water-top-img {
    width: 100%;
    height: 100%;

}

.nmr-water-content {
    background-color: var(--titleColor);
    width: 100%;
    height: 50px;
    color: var(--menuColor);
    text-align: center;
    /* line-height: 48px; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.nmr-water {
    position: relative;
}

.nmr-water-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    transition: all .5s ease-in-out;
    box-shadow: 4px 4px 8px 0px rgba(78, 74, 74, 0.2);
}

.nmr-water-abs:hover {
    box-shadow: 4px 4px 28px 0px rgba(36, 35, 35, 0.6);
}

/* useful */
.col-carousel {
    margin: 40px 0 80px;
}

/* owl nav */
.owl-prev span,
.owl-next span {
    color: #FFF;
    font-size: 40px;
}

.owl-prev span:hover,
.owl-next span:hover {
    color: #8199A3;
}

.owl-prev,
.owl-next {
    position: absolute;
    top: 0;
    height: 100%;
}

.owl-prev {
    left: 7px;
}

.owl-next {
    right: 7px;
}

button:focus,
button:active {
    outline: none;
}



.owl-carousel-abs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.owl-carousel-content {
    height: 56px;
    background-color: var(--titleColor);
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    padding: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.carousel-main .carousel-main-img {
    height: 148px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    border: 1px solid rgba(7, 37, 73, 1);
}

@media screen and (max-width:1400px) and (min-width: 1200px) {

    .right-news-content {
        /* height: 70px; */
        height: 62px;
        display: flex;
        align-items: center;
    }

    .first-carousel-caption {
        /* height: 90px; */
        height: auto;
    }

    .owl-carousel-content {
        height: 70px;
        font-size: 15px;
    }

    .right-img-blog {
        width: 100%;
        height: 148px;
    }

}

@media screen and (max-width:1200px) and (min-width: 992px) {

    .first-blog-title {
        margin: 40px 0;
    }

    .first-carousel-img {
        width: 100%;
        height: 580px;
        object-fit: cover;
    }

    .right-news-content {
        /* height: 70px; */
        height: 62px;
        display: flex;
        align-items: center;
    }

    .first-carousel-caption {
        /* height: 90px; */
        height: auto;
    }

    .owl-carousel-content {
        height: 70px;
        font-size: 15px;
    }
}


@media screen and (max-width:992px) and (min-width: 768px) {
    .right-news-blog {
        margin: 0px;
    }

    .first-blog-title {
        margin: 30px 0;
    }

    .first-carousel-caption .caption-title {
        font-size: 15px;
    }

    .first-carousel-img {
        height: 470px;
        object-fit: cover;
    }

    .right-img-blog {
        height: 110px;
    }

    .right-news-content {
        height: 83px;
        padding: 10px;
        display: flex;
        align-items: center;
    }

    .right-news-content {
        font-size: 13px;
    }

    .water-about {
        margin: 10px 0;
    }

    .water-about-title {
        font-size: 22px;
    }

    .nmr-about-row {
        margin: 20px 0;
    }

    .nmr-water {
        margin-bottom: 20px;
    }

    .owl-carousel-content {
        font-size: 15px;
    }
}



@media screen and (max-width: 767.000001px) and (min-width: 320px) {
    .first-blog-title {
        margin: 40px 0;
    }

    .first-carousel-img {
        height: 270px;
    }

    .right-news-blog {
        margin: 20px 0;
    }

    .right-img-blog {
        height: 200px;
    }

    .first-carousel-caption .caption-title {
        font-size: 14px;
        line-height: 20px;
    }

    .right-news-content {
        height: auto;
        padding: 10px 26px;
        line-height: 14.8px;
        font-size: 13px;
    }

    .water-about-title {
        font-size: 18px;
        line-height: 26.8px;
        margin: 20px 0 0 0
    }

    .nmr-water {
        margin: 10px auto;
    }

    .nmr-water {
        margin: 20px 0;
    }

    .owl-item {
        width: 100%;
    }

    .owl-carousel-content {
        font-size: 14px;
    }
}